.headerContainer {
  display: flex;
  height: 3.5rem;
  padding: 0 2.5rem;
  align-items: center;
  justify-content: space-between;

  background: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(47, 37, 68, 0.15);

  img {
    height: 2.25rem;
    width: 4.875rem;
  }

  label {
    margin-left: 2rem;
  }
}